<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Users List</title>
</head>
<body>
<div class="page-overlay"></div>
<div class="main">
    <section class="users_header">
        <h1 class="wellcome">Wellcome dear <span></span>!</h1>
        <button class="logout" data-action="logout">Log Out</button>
    </section>
    <section class="users_wrapper">
        <p>Users Information list. Please click on row ton get additional info.</p>
        <div id="users_table_wrapper" class="users_table_wrapper"></div>
    </section>
    <div class="general_modal">
        <div class="general_modal_content">
            <div class="general_modal_container">
                <p>Additional User Info</p>
                <div data-role="modal-container"></div>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/static/js/main.js"></script>
</body>
</html>