<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Login Page</title>
</head>
<body>
<div class="main">
    <section class="login-form">
        <h1>Please Log In</h1>
        <form class="login_form" id="login_form">
            <label for="name">User Name:</label>
            <input type="text" name="name" id="name" required/>
            <label for="password">User Password:</label>
            <input type="password" name="password" id="password" maxlength="6" required/>
            <button data-action="login" type="submit">Log In</button>
        </form>
    </section>
</div>
<script type="module" src="/static/js/main.js"></script>
<script>

    const $loginForm = document.getElementById('login_form');
    $loginForm.addEventListener('submit',logIn);

    function logIn(e){
        e.preventDefault();
        const url = 'http://localhost:8080/login';
        const formData = new FormData(this);
        const plainFormData = Object.fromEntries(formData.entries());
        const formDataJsonString = JSON.stringify(plainFormData);

        console.log('formDataJsonString',formDataJsonString);

        fetch(url, {
            method: 'POST',
            body: formDataJsonString,
            headers: {
                'Content-Type': 'multipart/form-data',
                "Accept": "application/json"
            }
        })
        .then(res => {
            return res.json()
        })
        .then((out) => {
            console.log('post response ', out);
            const output = JSON.parse(out);
            if (output.ok) {
                location.reload();
            }
            else if (output.err) {
                console.log(output.err);
            };
        })
        .catch(err => { throw err });

    }

</script>
</body>
</html>